# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/
.venv/

# Django
db.sqlite3

# Media uploads
media/

# Collected static files
staticfiles/

# Environment variables
.env

# Logs
*.log

# VS Code
.vscode/

# JetBrains
.idea/

# Windows
Thumbs.db

venv/
.env
__pycache__/
*.pyc
db.sqlite3
media/
staticfiles/
downloader.log